body,
html {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    box-sizing: border-box;
    font-size: 14px
}

.heading {
    text-transform: uppercase;
    color: #02918c;
    font-size: 3rem;
}

.text-center {
    text-align: center;
}

.heading:after {
    content: "~~~~~~~~ :: ~~~~~~~~";
    text-transform: center;
    display: block;
    font-size: 1rem;
}

.navbar {
    line-height: 60px;
}

.nav-wrapper {
    background-color: #02918c;
}

.navbar .navbar-nav>li {
    float: left;
    list-style: none;
    padding: 0 15px;
    line-height: 40px;
}

.navbar .brand {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;
}

.navbar-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: color 0.5s linear 0.6s;
}

.navar-nav a:hover {
    color: #f5f5f5;
}

.brand>span {
    color: #cfc91d;
    font-size: 2rem;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 35px;
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

.nav-right {
    float: right;
}

.brand {
    float: left;
}

.bg-head {
    background-image: url('./img/bg_head.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 825px;
    text-align: center;
}

.decription {
    text-align: center;
    padding-top: 200px;
    color: #fff;
}

.decription>h3 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.decription>h1 {
    font-size: 6rem;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    letter-spacing: 15px;
}

.decription:after {
    content: ' ';
    display: block;
    background-image: url(./img/bracket.png);
    background-repeat: no-repeat;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 115px;
    margin-top: 50px;
}

.btn-default {
    line-height: 46px;
    background-color: #cfc91d;
    color: #000;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 5px;
    width: 197px;
}

.copyright {
    line-height: 60px;
    background-color: #000;
    text-align: center;
    text-transform: uppercase;
    color: #898989;
    ;
}

.copyright p {
    padding: 0;
    margin: 0;
}

footer {
    background-color: #0b0b0b;
}

.form {
    text-align: center;
    padding: 25px;
}

.form-field {
    outline: none;
    border: none;
    border-bottom: 2px solid #898989;
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    transition: border 0.5s linear 0.6s;
}

::-webkit-input-placeholder {
    text-transform: uppercase;
    color: #898989;
    text-align: center;
}

.form input {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.form textarea {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.form-field:focus {
    border-bottom-color: #cfc91d;
}


/*grid*/

.row {
    padding-left: -15px;
    padding-right: -15px;
}

.row>.column-1-4 {
    width: 25%;
    float: left;
    padding: 10px;
}

.row:after {
    clear: both
}

.row:after,
.row:before {
    content: "";
    display: table;
}

.head-card h4 {
    font-size: 1.5rem;
}

.half {
    float: left;
    width: 50%;
    padding: 10px;
}

#servces {
    background-color: #f0f0e8;
    color: #878b8f;
    background-image: url('./img/services.png');
    background-size: 100% 100%;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 20px;
}

figure>figcaption {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    width: 80%;
    background-color: rgba(2, 145, 140, 0.60);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: auto;
    z-index: 2;
    transition: all 0.5s linear 0.6s;
}

figure {
    position: relative;
    padding: 0;
    margin: 0;
}

figcaption h5 {
    font-weight: 600;
}

figure:hover figcaption {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

figure:hover {
    cursor: pointer;
}